Repository Group4-3/ESSW, pull requests merged in 2022-09, with the labels that each got.

#44 Prevent secret access after expiry time elapsed
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/submit.js
  server/test/secret.test.js
Labels: bug, server

#42 Server/password rate limiting
  server/app.js
  server/src/v2/helpers/ip.js
  server/src/v2/helpers/secret.js
  server/src/v2/modules/db.js
  server/src/v2/routes/passphrase/validate.js
  server/src/v2/routes/secret/destroy.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/index.js
  server/src/v2/routes/secret/submit.js
  server/test/secret.test.js
Labels: enhancement, server

#51 Client
  client/.eslintrc.js
  client/.gitignore
  client/Dockerfile
  client/README.md
  client/index.js
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.js
  client/src/Home.js
  client/src/Navbar.js
  client/src/Viewsecret.js
  client/src/index.css
  client/src/index.js
  client/www/css/style.css
  client/www/first.html
  client/www/scripts/get.js
  client/www/scripts/submit.js
  client/www/viewsecret.html
  docker-compose.yml
  nginx/nginx.conf
  nginx/server_route.conf
  server/Dockerfile
  server/app.js
  server/src/v2/modules/db.js
Labels: client, nginx

#52 Fix database initialisation error message.
  server/src/v2/modules/db.js
Labels: bug, server

#45 Create CodeQL Analysis workflow
  .github/workflows/codeql-analysis.yml
  server/src/v2/routes/passphrase/generate.js
  server/src/v2/routes/passphrase/index.js
  server/src/v2/routes/passphrase/pwned.js
  server/test/passphrase.test.js
Labels: enhancement

#56 Create .gitattributes
  .gitattributes
Labels: bug

#55 Nginx ssl
  .gitignore
  README.md
  docker-compose.yml
  nginx/Dockerfile
  nginx/server_route.conf
  nginx/server_route.conf.template
  nginx/ssl_setup.sh
  nginx/v3.ext
Labels: enhancement, nginx, docker

#58 Add file attaching for secret submission
  .gitignore
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/Home.js
  client/src/Navbar.js
  client/src/Viewsecret.js
  client/src/components/footer.js
  client/src/components/layout.js
  client/src/components/navigation.js
  client/src/helpers/file.js
  client/src/index.css
  client/src/index.js
  client/src/pages/notFound/index.js
  client/src/pages/submitSecret/confirmation.js
  client/src/pages/submitSecret/form.js
  client/src/pages/submitSecret/index.js
  client/src/scss/_config.scss
  client/src/scss/index.scss
  client/src/scss/styles.scss
  server/app.js
  server/package-lock.json
  server/package.json
  server/src/v2/helpers/secret.js
  server/src/v2/modules/db.js
  server/src/v2/modules/file.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/index.js
  server/src/v2/routes/secret/submit.js
  server/test/secret.test.js
Labels: enhancement, server, client

#67 Create .dockerignore files
  client/.dockerignore
  server/.dockerignore
Labels: bug, docker

#68 File download functionality
  server/src/v2/modules/db.js
  server/src/v2/modules/file.js
  server/src/v2/routes/secret/destroy.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/submit.js
Labels: enhancement, server

#71 Client Constants and serving using nginx
  .gitignore
  client/Dockerfile
  client/src/helpers/constants.js
  client/src/pages/submitSecret/form.js
  docker-compose.yml
  nginx/nginx.conf
  nginx/server_route.conf.template
Labels: client, nginx, docker

#74 Start up scripts
  essw.ps1
  example.env
Labels: docker

#73 Docker GitHub Action
  .github/workflows/docker-compose-test.yml
  .gitignore
  nginx/Dockerfile
  nginx/user_certificates/.gitkeep
Labels: docker
