Repository Group4-3/ESSW, pull requests merged in 2022-08, with the labels that each got.

#18 Database optimisations and rewrite
  server/src/v2/modules/db.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/submit.js
Labels: enhancement, server

#41 Readme update
  README.md
Labels: bug

#46 Remove v1 of the API
  server/app.js
  server/src/v1/crypto_test.js
  server/src/v1/helpers/cipher.js
  server/src/v1/helpers/pwned.js
  server/src/v1/helpers/text.js
  server/src/v1/index.js
  server/src/v1/passphrase.js
  server/src/v1/secret.js
  server/src/v1/services/db.js
Labels: bug, server
