Repository Group4-3/ESSW, pull requests merged in 2022-10, with the labels that each got.

#80 added to env and template
  example.env
  nginx/server_route.conf.template
Labels: nginx, docker, hacktoberfest-accepted

#86 Api additions for client
  server/src/v2/helpers/cipher.js
  server/src/v2/helpers/validation.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/index.js
  server/src/v2/routes/secret/submit.js
Labels: enhancement, server, hacktoberfest-accepted

#85 Update secretGet endpoint to respond correctly to form data
  server/src/v2/routes/secret/get.js
Labels: bug, server, hacktoberfest-accepted

#93 Removed unnecessary docker function
  client/Dockerfile
Labels: docker, hacktoberfest-accepted

#94 Link to secret on confirmation page
  client/src/pages/submitSecret/confirmation.js
Labels: client, hacktoberfest-accepted

#88 Maximum file size
  example.env
  nginx/server_route.conf.template
  server/src/v2/modules/file.js
  server/src/v2/modules/secrets.js
  server/src/v2/routes/secret/submit.js
Labels: enhancement, server, hacktoberfest-accepted

#92 Public key encryption Submit
  client/package-lock.json
  client/package.json
  client/src/helpers/constants.js
  client/src/helpers/cryptography.js
  client/src/pages/submitSecret/form.js
  server/Dockerfile
  server/src/v2/helpers/cipher.js
  server/src/v2/routes/misc/index.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/index.js
  server/src/v2/routes/secret/submit.js
Labels: server, client, hacktoberfest-accepted

#97 Client display files
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/src/components/navigation.js
  client/src/helpers/constants.js
  client/src/helpers/cryptography.js
  client/src/index.js
  client/src/pages/retrieveSecret/confirmation.js
  client/src/pages/retrieveSecret/form.js
  client/src/pages/retrieveSecret/index.js
  client/src/pages/submitSecret/confirmation.js
  client/src/pages/submitSecret/form.js
  client/src/pages/submitSecret/index.js
  client/src/scss/_config.scss
  client/src/scss/styles.scss
  server/Dockerfile
  server/src/v2/helpers/cipher.js
  server/src/v2/modules/file.js
  server/src/v2/routes/misc/index.js
  server/src/v2/routes/secret/get.js
  server/src/v2/routes/secret/index.js
  server/src/v2/routes/secret/submit.js
Labels: enhancement, server, client, nginx, hacktoberfest-accepted

#100 Start script update + readme
  README.md
  essw.ps1
Labels: enhancement, docker, hacktoberfest-accepted
